{% extends 'search/main.html' %}
{% load static %}
{% block content %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Bikintour Boat Ticket</h1>
          <p class="lead">All Boat List</p>
          <hr/>
        </div>
      
       <!-- Start -->
       <div class="container">
        <div class="row">
        
        <!-- Start List -->

        <!-- Loop -->
        <div class="col-md-6">    
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'images/boat/boat.jpg' %}" loading="lazy" height="200px" width="180px"  alt="boat contoh">
              </div>
              <div class="col-md-8">
                  <div class="card-header">
                      Boat Perama
                  </div>
                <div class="card-body">
                  <p class="card-text">Price: <b>Rp 75.000</b></p>
                  <p class="card-text">From: <b>Denpasar</b></p>
                  <p class="card-text">Destination: <b>Lembongan</b></p>  
                  <p class="card-text">Time: <b>18:00</b></p>
                  <p class="card-text">Guest: <b>Domestic</b></p>
                  <button type="submit" class="btn btn-success">Add To Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End loop list -->

        <!-- End List -->
        <!-- Start goto cart --> 
        <hr/>   
        <div class="row">
            <a href="{% url 'cart' %}" class="text-center"><button class="btn btn-success">Go To Cart</button></a>
        </div>
        <!-- End To Cart -->

        </div> 
       </div>

       <!-- End -->
{% endblock content %}
