{% extends 'search/main.html' %}
{% load static %}
{% block content %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Boat Ticket</h1>
          <p class="lead">Boat Ticket to Lombok, Gili, Nusa Penida and Nusa lembongan</p>
        </div>
      
        <!-- Start Form  -->
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputFrom" class="form-label">From:</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Sanur</option>
              <option value="1">Padang Bai</option>
              <option value="2">Nusa Penida</option>
              <option value="3">Nusa Lembongan</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputTo" class="form-label">To:</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Nusa Penida</option>
              <option value="1">Padang Bai</option>
              <option value="2">Sanur</option>
              <option value="3">Nusa Lembongan</option>
            </select>
          </div>
          <div class="col-6">
            <label for="inputState" class="form-label">Tourist Type (Local & Domestic must show Indonesian ID)</label>
            <select id="inputState" class="form-select">
              <option selected>International</option>
              <option>Domestic</option>
              <option>Local Bali</option>
            </select>
          </div>
          <div class="col-6">
            <label for="exampleDataList" class="form-label">Pasangers</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Input number only">
            <datalist id="datalistOptions">
              <option value="1">
              <option value="2">
              <option value="3">
            </datalist>
          </div>
          <div class="col-md-6">
            <label for="inputDepartureDate" class="form-label">Departure Date</label>
            <input type="date" class="form-control" id="inputDepartureDate" name="departureDate">
          </div>
          <div class="col-md-6" id="showdate" style="display:none">
            <label for="inputReturnDate" class="form-label">Return Date</label>
            <input type="date" class="form-control" id="inputReturnDate" name="returnDate">
          </div>
          <div class="col-12">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="myCheck" onclick="show()">
              <label class="form-check-label" for="flexSwitchCheckDefault">Return</label>
            </div>
          </div>
          <div class="col-12">
           <a href="{% url 'search' %}" class="btn btn-success btn-lg searchBoat" role="button">Search</a>
           <!-- <button class="btn btn-success searchBoat">Search</button> -->
          </div>
        </form>  
        <!-- End Form -->      
{% endblock content %}