{% extends 'search/main.html' %}
{% load static %}
{% block content %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Bikintour Boat Ticket</h1>
          <p class="lead">PAYMENT DETAILS</p>
          <hr/>
        </div>
      
       <!-- Start -->
       <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
              <form id="form">
                <div id="user-info">
                  <div class="form-field">
                    <input required class="form-control" type="text" name="name" placeholder="Name..">
                  </div>
                  <div class="form-field">
                    <input required class="form-control" type="email" name="email" placeholder="Email..">
                  </div>
                </div>
                
                <div id="shipping-info">
                  <hr>
                  <p>Shipping Information:</p>
                  <hr>
                  <div class="form-field">
                    <input class="form-control" type="text" name="address" placeholder="Address..">
                  </div>
                  <div class="form-field">
                    <input class="form-control" type="text" name="city" placeholder="City..">
                  </div>
                  <div class="form-field">
                    <input class="form-control" type="text" name="state" placeholder="State..">
                  </div>
                  <div class="form-field">
                    <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                  </div>
                  <div class="form-field">
                    <input class="form-control" type="text" name="country" placeholder="Zip code..">
                  </div>
                </div>
      
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
              </form>
            </div>
      
            <br>
            <div class="box-element hidden" id="payment-info">
              <small>Paypal Options</small>
            </div>
            
          </div>
      
          <div class="col-lg-6">
            <div class="box-element">
              <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
              <hr>
              <h3>Order Summary</h3>
              <hr>
              <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}" loading="lazy"></div>
                <div style="flex:2"><p>Product 1</p></div>
                <div style="flex:1"><p>$20.00</p></div>
                <div style="flex:1"><p>x2</p></div>
              </div>
              <h5>Items:   2</h5>
              <h5>Total:   $4</h5>
            </div>
          </div>
        </div>
       </div> <!-- container -->

       <!-- End -->
{% endblock content %}

