{% extends 'search/main.html' %}
{% load static %}
{% block content %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Bikintour Boat Ticket</h1>
          <p class="lead">Search List</p>
          <hr/>
        </div>
      
       <!-- Start -->
       <div class="container">
        <div class="row">
        
        <!-- Start List -->

        <!-- Start One Way -->
        <div class="col-md-6">  
         <div>
             <h3 class="text-center">One Way</h3>
             <hr/>
         </div>   
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'images/boat/boat.jpg' %}" loading="lazy" height="200px" width="180px"  alt="boat contoh">
              </div>
              <div class="col-md-8">
                  <div class="card-header">
                      Boat Perama
                  </div>
                <div class="card-body">
                  <p class="card-text">Time</p>
                  <form>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>8 AM</option>
                    <option value="1">10 AM</option>
                    <option value="2">14 PM</option>
                    <option value="3">16 PM</option>
                  </select><hr/>
                  <button type="submit" class="btn btn-success">Add To Cart</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End One Way -->

        <!-- Start Return -->
        <div class="col-md-6">  
            <div>
                <h3 class="text-center">Return</h3>
                <hr/>
            </div>
           <div class="card mb-3" style="max-width: 540px;">
               <div class="row g-0">
                 <div class="col-md-4">
                   <img src="{% static 'images/boat/boat.jpg' %}" loading="lazy" height="200px" width="180px"  alt="boat contoh">
                 </div>
                 <div class="col-md-8">
                     <div class="card-header">
                         Boat Ocean 11
                     </div>
                   <div class="card-body">
                     <p class="card-text">Time</p>
                     <form>
                     <select class="form-select" aria-label="Default select example">
                       <option selected>8 AM</option>
                       <option value="1">10 AM</option>
                       <option value="2">14 PM</option>
                       <option value="3">16 PM</option>
                     </select><hr/>
                     <button type="submit" class="btn btn-success">Add To Cart</button>
                   </form>
                   </div>
                 </div>
               </div>
             </div>
            </div>
           <!--End Return-->
        <!-- End List -->
        <!-- Start goto cart --> 
        <hr/>   
        <div class="row">
            <a href="{% url 'cart' %}" class="text-center"><button class="btn btn-success">Go To Cart</button></a>
        </div>
        <!-- End To Cart -->

        </div> 
       </div>

       <!-- End -->
{% endblock content %}
