{% extends 'search/main.html' %}
{% load static %}
{% block content %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Bikintour Boat Ticket</h1>
          <p class="lead">CART</p>
          <hr/>
        </div>
      
       <!-- Start -->
       <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="box-element">
      
              <a  class="btn btn-outline-dark" href="#">&#x2190; Continue Shopping</a>
      
              <br>
              <br>
              <table class="table">
                <tr>
                  <th><h5>Items: <strong>3</strong></h5></th>
                  <th><h5>Total:<strong> $42</strong></h5></th>
                  <th>
                    <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'payment' %}">Checkout</a>
                  </th>
                </tr>
              </table>
      
            </div>
      
            <br>
            <div class="box-element">
              <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
              </div>
              
              <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'images/boat/boat.jpg' %}" laoding="lazy"></div>
                <div style="flex:2"><p>Product 1</p></div>
                <div style="flex:1"><p>$20</p></div>
                <div style="flex:1">
                  <p class="quantity">2</p>
                  <div class="quantity">
                    <img class="chg-quantity" src="{% static 'images/icon/3+arrow-up.png' %}" loading="lazy">
                
                    <img class="chg-quantity" src="{% static 'images/icon/2+arrow-down.png' %}" loading="lazy">
                  </div>
                </div>
                <div style="flex:1"><p>$32</p></div>
              </div>
      
            </div>

          </div>
         </div>
       </div> <!-- container -->

       <!-- End -->
{% endblock content %}